<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeagueServlet</servlet-name>
        <servlet-class>servlets.LeagueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClubServlet</servlet-name>
        <servlet-class>servlets.ClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NationServlet</servlet-name>
        <servlet-class>servlets.NationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerServlet</servlet-name>
        <servlet-class>servlets.PlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeagueServlet</servlet-name>
        <url-pattern>/Leagues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClubServlet</servlet-name>
        <url-pattern>/Clubs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NationServlet</servlet-name>
        <url-pattern>/Nations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/Players</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
